.title-banner {
 height: clamp(200px, 15.625vw, 600px);
    background: url("../media/backgrounds/about-us-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    position: relative;
}  

