.side-bar {
  border-radius: $br-16;
  border: 1px solid $accent-3;
  padding: clamp(18px, 1.25vw, 48px);

  .search-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: $br-8;
    padding: clamp(4px, 0.417vw, 16px) clamp(12px, 0.833vw, 32px);

    .search-form {
      display: contents;

      .input-search {
        color: $medium-black;
        border: none;
        border: none;
        background: transparent;

        @include media-query(576px) {
          height: 30px;
        }

        &:focus-visible {
          outline: none;
        }
      }

      .input-button {
        border: none;
        background: transparent;

        @include media-query(1280px) {
          margin-left: -18px;
        }
      }
    }
  }

  .recent-post {
    .post {
      gap: $gap-24;
      .image-box {
          width: clamp(54px, 3.594vw, 140px);
        img {
            width: 100%;
            height: 100%;
        }
      }

      a {
        &:hover {
          transition: $transition;
          color: $accent-3 !important;
        }
      }
    }
  }

  .categories-link {
    font-weight: 500;
    font-size: clamp(14px, 0.938vw, 36px);
    display: flex;
    gap: $gap-4;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: clamp(8px, 0.625vw, 24px);
    padding-bottom: clamp(8px, 0.625vw, 24px);

    a {
      &:hover {
        transition: $transition;
        color: $accent-3;
      }
    }
  }

  .categories-link-end {
    font-weight: 500;
    font-size: clamp(14px, 0.938vw, 36px);
    border: none;

    a {
      &:hover {
        transition: $transition;
        color: $accent-3;
      }
    }
  }

  .date {
    img {
      @include media-query(576px) {
        width: 18px;
      }
    }
  }

  .pray-time-table {
    .t-heading {
      padding: clamp(9px, 0.625vw, 24px) 0;
      font-size: clamp(14px, 0.938vw, 36px);

      tr {
        th {
          padding-top: 0%;
          padding-bottom: clamp(8px, 0.625vw, 24px);
        }
      }
    }

    .time {
      font-size: clamp(12px, 0.938vw, 36px);

      tr {
        td {
          font-weight: 400;
          padding: clamp(9px, 0.625vw, 24px) 0;
        }
      }
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
