.donars{
    .testimonials-slider {
        margin: 0 -12px;

        .slick-dots {
            position: unset;
            display: flex;
            justify-content: center;
            margin-top: clamp(24px, 1.667vw, 48px);

            li {
                width: 16px;
                height: 6px;
                border-radius: $br-4;
                display: grid;
                align-items: center;
                justify-content: center;
                background: transparent;
                transition: $transition;

                @include media-query(490px) {
                    width: 12px;
                    height: 4px;
                }

                &.slick-active {
                    height: 6px;
                    width: 32px;
                    border-radius: $br-4;
                    background-color: $accent-3;

                }

                button {

                    /* 18px */
                    &:before {
                        color: transparent;
                    }
                }
            }
        }
    }
} 

        .testimonials-block {
           
            border: 1px solid $lightest-gray;
            margin: 0 12px;

            .image-box {
                img {
                    @include media-query(490px) {
                        width: 16%;
                    }
                }
            }

            .user-name {
                width: clamp(250px, 16.667vw, 500px);
            }

            .rating-stars {
                margin-top: -2px;

                @include media-query(490px) {
                    margin-top: -4px;
                }

                svg {
                    @include media-query(490px) {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    